*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 10px;
}

#container {
    width: 600px;
    margin: auto;
    border-radius: 20px;
    border: 6px solid black;
    padding: 12px;
    background-color: beige;
}

.btn:focus
{
    box-shadow: none;
        
}

@media(max-width:767px){
    #container{
        width: 250px;
    }
    .img {
        width: 150px;
    }
}